#histogram {
    width: 1500px; 
    height: 300px;
    display: inline-block;
    float: left;
}

#areachart {
    width: 1500px; 
    height: 1000px;
    display: inline-block;
    float: left;
}

#dropdown {
    width: 500px;
    height: 500px;
    display: inline-block;
    float: left;
}

rect {
    fill: white;
    stroke: black;
}
