#histogram {
    width: 1500px; 
    height: 100px;
    display: inline-block;
    float: left;
}

#areachart {
    width: 1500px; 
    height: 300px;
    display: inline-block;
    float: left;
}

#dropdown {
    width: 1200px;
    height: 500px;
    display: inline-block;
    float: left;
}

rect {
    stroke-width: 0;
}

rect.border {
    fill: white;
    stroke: black;
    stroke-width: 2;
}

text {
    font-size: 20px;
}